<div class="product-container">
    <div class="product-wrapper">
      <img
        loading="lazy"
        src="{{product?.image}}"
        class="product-main-image"
        alt="{{product?.name}} image"
      />
      <h1 class="product-title">
        {{product?.name}}
      </h1>
      <p class="product-code">Product Code: {{product?.code}}</p>
      <p class="brand">Brand: <b>{{product?.brand}}</b></p>
      <p class="price" aria-label="Price: 76 dollars">${{product?.price}}</p>
      <p class="product-description">
        {{product?.description}}
      </p>
      <ng-container *ngIf="isLoggedIn">
      <ng-container *ngIf="isOwner">
        <button type="button" class="buy-button-wrapper" tabindex="0" routerLink="/products/edit/{{product?._id}}">
            <img
              loading="lazy"
              src="https://cdn.builder.io/api/v1/image/assets/TEMP/f8d34c77ec45e6bfc6563033962debf3bbc922bc4bb55e8eb0ad992c8f2cacb4?placeholderIfAbsent=true&apiKey=637d52b7836245638b3cb5f84c1adefc"
              class="buy-button-bg"
              alt=""
            />
            <span class="buy-button-text">Edit</span>
          </button>
          <button type="button" class="buy-button-wrapper" tabindex="0" (click)="remove()">
            <img
              loading="lazy"
              src="https://cdn.builder.io/api/v1/image/assets/TEMP/f8d34c77ec45e6bfc6563033962debf3bbc922bc4bb55e8eb0ad992c8f2cacb4?placeholderIfAbsent=true&apiKey=637d52b7836245638b3cb5f84c1adefc"
              class="buy-button-bg"
              alt=""
            />
            <span class="buy-button-text">Delete</span>
          </button>
        </ng-container>
        <ng-container *ngIf="!isOwner">
            <ng-container *ngIf="!isInCart">
      <button type="button" class="buy-button-wrapper" tabindex="0" (click)="addToCart()">
        <img
          loading="lazy"
          src="https://cdn.builder.io/api/v1/image/assets/TEMP/f8d34c77ec45e6bfc6563033962debf3bbc922bc4bb55e8eb0ad992c8f2cacb4?placeholderIfAbsent=true&apiKey=637d52b7836245638b3cb5f84c1adefc"
          class="buy-button-bg"
          alt=""
        />
        <span class="buy-button-text">Add to Cart</span>
      </button>
      </ng-container>
      <ng-container *ngIf="isInCart">
        <p class="not-in-cart">This product is already in the cart</p>
      </ng-container>
      </ng-container>
      </ng-container>
    </div>
  </div>