
<div class="product-card">
  <div class="product-wrapper">
    <img
      loading="lazy"
      src="https://cdn.builder.io/api/v1/image/assets/TEMP/38f44c0266c612f14e12320f238ce48bcbe1204274ac86da555f7a036f6a7ee2?placeholderIfAbsent=true&apiKey=637d52b7836245638b3cb5f84c1adefc"
      class="product-background"
      alt=""
    />
    <img
      loading="lazy"
      src="{{product?.image}}"
      class="product-image"
      alt="{{product?.name}}"
    />
    <div class="product-title">{{product?.name}}</div>
    <div class="product-price">US${{product?.price}}</div>
    <div class="navigation-controls">
    <button type="button" class="edit-button" routerLink="/products/{{product?._id}}" >
      <span>Buy</span>
    </button>
    </div>
  </div>
</div>
