.product-card {
    display: flex;
    flex-direction: column;
    position: relative;
    aspect-ratio: 0.772;
    width: 142px;
    overflow: hidden;
    align-items: center;
    padding: 42px 18px 0;
  }
  .product-background {
    position: absolute;
    inset: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
  }
  .product-image {
    aspect-ratio: 1.21;
    object-fit: contain;
    object-position: center;
    width: 68px;
  }
  .product-title {
    position: relative;
    font-size: 12px;
    font-weight: 700;
    line-height: 12px;
    align-self: stretch;
    margin-top: 26px;
  }
  .product-price {
    position: relative;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
  }