<div class="cart-summary">
  <div class="cart-header">Shopping cart</div>
  <div class="subtotal-wrapper">
    <div class="subtotal-text">Subtotal( 1 item)</div>
    <div class="subtotal-amount">$42.14</div>
  </div>
  <div class="cart-content">
    <img
      loading="lazy"
      src="https://cdn.builder.io/api/v1/image/assets/TEMP/cd4f9e073459c43b4d136b7372d7322d3ff23b3515e41535057623e7ab92f278?placeholderIfAbsent=true&apiKey=637d52b7836245638b3cb5f84c1adefc"
      class="cart-logo"
      alt="Store logo"
    />
    <ng-container *ngFor="let product of products">
        <app-product [product]="product"/>
    </ng-container>
    <div class="payment-info">
      <div class="payment-text">We accept</div>
      <img
        loading="lazy"
        src="https://cdn.builder.io/api/v1/image/assets/TEMP/1819a7262a5adbf26159290aae1a9ad62e2161f7c45044c42aa1bdc0acf2528f?placeholderIfAbsent=true&apiKey=637d52b7836245638b3cb5f84c1adefc"
        class="payment-icon"
        alt="Payment method icon"
      />
      <img
        loading="lazy"
        src="https://cdn.builder.io/api/v1/image/assets/TEMP/b3df5416a88cba6906a45ec2b57529c27cfdcd76584328288edc8d0c201e4cbe?placeholderIfAbsent=true&apiKey=637d52b7836245638b3cb5f84c1adefc"
        class="cards-icon"
        alt="Accepted payment cards"
      />
    </div>
    <div class="security-text">100% Safe and Secure</div>
  </div>
  <button class="checkout-button">Continue to checkout</button>
</div>
