<div class="contact-footer">
    <div class="contact-wrapper">
      <img
        loading="lazy"
        src="https://cdn.builder.io/api/v1/image/assets/TEMP/cf4087d39d3f505eb590f7578194f33f63e35887a1d60a15da23dd3b177e3caf?placeholderIfAbsent=true&apiKey=637d52b7836245638b3cb5f84c1adefc"
        class="background-image"
        alt=""
      />
      <div class="contact-content">
        <h2 class="contact-heading">Contact us</h2>
        <address class="contact-details">
          385 Noah Place Suite 878
          <br />
          info.form.com 877-255-7945
        </address>
        <img
          loading="lazy"
          src="https://cdn.builder.io/api/v1/image/assets/TEMP/3009e53ebe5b93411a6b4d5a59947db7801e726057530551c44b68c0489856b9?placeholderIfAbsent=true&apiKey=637d52b7836245638b3cb5f84c1adefc"
          class="social-icons"
          alt="Social media icons"
        />
      </div>
    </div>
  </div>