<div class="product-grid">
  <div class="product-container">
    <div class="product-row">
      <div class="product-card">
        <img loading="lazy" src="https://cdn.builder.io/api/v1/image/assets/TEMP/38f44c0266c612f14e12320f238ce48bcbe1204274ac86da555f7a036f6a7ee2?placeholderIfAbsent=true&apiKey=637d52b7836245638b3cb5f84c1adefc" alt="Lyle & Scott Camo Pocket shirt background" class="product-background" />
        <img loading="lazy" src="https://cdn.builder.io/api/v1/image/assets/TEMP/5c368848f71f1c80ae6a969f336fb0a612c01108f1df7f21f924d9207b4a8cab?placeholderIfAbsent=true&apiKey=637d52b7836245638b3cb5f84c1adefc" alt="Lyle & Scott Men's Short Sleeve Camo Pocket shirt" class="product-image" />
        <div class="product-title">Lyle & Scott Men's Short Sleeve Camo Pocket</div>
        <div class="product-price">US$76</div>
      </div>
      <div class="product-card">
        <img loading="lazy" src="https://cdn.builder.io/api/v1/image/assets/TEMP/da5b6f6c9a95c684b8464937344c356a06bf9e89818aca575acf5abb2560ce95?placeholderIfAbsent=true&apiKey=637d52b7836245638b3cb5f84c1adefc" alt="Lyle & Scott Camo Pocket shirt background" class="product-background" />
        <img loading="lazy" src="https://cdn.builder.io/api/v1/image/assets/TEMP/8931a3d2c7195bbb7a0188cab88c6c14983b975912cf5630ce1f9cd8b05d02a3?placeholderIfAbsent=true&apiKey=637d52b7836245638b3cb5f84c1adefc" alt="Lyle & Scott Men's Short Sleeve Camo Pocket shirt" class="product-image" />
        <div class="product-title">Lyle & Scott Men's Short Sleeve Camo Pocket</div>
        <div class="product-price">US$76</div>
      </div>
    </div>
    <div class="product-row product-row-spacing">
      <div class="product-card">
        <img loading="lazy" src="https://cdn.builder.io/api/v1/image/assets/TEMP/6e34b79f5b35d6ed562c5fea005c9f915fcbbac2df0993cf366f30e1921e9dc7?placeholderIfAbsent=true&apiKey=637d52b7836245638b3cb5f84c1adefc" alt="Lyle & Scott Camo Pocket shirt background" class="product-background" />
        <img loading="lazy" src="https://cdn.builder.io/api/v1/image/assets/TEMP/c4b6c9d90da2576584f687a3362256363331d1493ab87bf72bd32b0b3c1d6bba?placeholderIfAbsent=true&apiKey=637d52b7836245638b3cb5f84c1adefc" alt="Lyle & Scott Men's Short Sleeve Camo Pocket shirt" class="product-image" />
        <div class="product-title">Lyle & Scott Men's Short Sleeve Camo Pocket</div>
        <div class="product-price">US$76</div>
      </div>
      <div class="product-card">
        <img loading="lazy" src="https://cdn.builder.io/api/v1/image/assets/TEMP/4f72e0119d87038b825b596d80a77452316d371a63806d4f767f838c03ba73ba?placeholderIfAbsent=true&apiKey=637d52b7836245638b3cb5f84c1adefc" alt="Lyle & Scott Camo Pocket shirt background" class="product-background" />
        <img loading="lazy" src="https://cdn.builder.io/api/v1/image/assets/TEMP/c4b6c9d90da2576584f687a3362256363331d1493ab87bf72bd32b0b3c1d6bba?placeholderIfAbsent=true&apiKey=637d52b7836245638b3cb5f84c1adefc" alt="Lyle & Scott Men's Short Sleeve Camo Pocket shirt" class="product-image" />
        <div class="product-title">Lyle & Scott Men's Short Sleeve Camo Pocket</div>
        <div class="product-price">US$76</div>
      </div>
    </div>
    <div class="product-row product-row-spacing">
      <div class="product-card">
        <img loading="lazy" src="https://cdn.builder.io/api/v1/image/assets/TEMP/fc6e25ec76c2c825d03bb62b7b48e6f1aefefe62f36b70f3f07ed253c17b62d7?placeholderIfAbsent=true&apiKey=637d52b7836245638b3cb5f84c1adefc" alt="Lyle & Scott Camo Pocket shirt background" class="product-background" />
        <img loading="lazy" src="https://cdn.builder.io/api/v1/image/assets/TEMP/c4b6c9d90da2576584f687a3362256363331d1493ab87bf72bd32b0b3c1d6bba?placeholderIfAbsent=true&apiKey=637d52b7836245638b3cb5f84c1adefc" alt="Lyle & Scott Men's Short Sleeve Camo Pocket shirt" class="product-image" />
        <div class="product-title">Lyle & Scott Men's Short Sleeve Camo Pocket</div>
        <div class="product-price">US$76</div>
      </div>
      <div class="product-card">
        <img loading="lazy" src="https://cdn.builder.io/api/v1/image/assets/TEMP/03e34c8af7de13f564ebf0d97a24aed8a1b521e4eb7a01c195f8c794df12c658?placeholderIfAbsent=true&apiKey=637d52b7836245638b3cb5f84c1adefc" alt="Lyle & Scott Camo Pocket shirt background" class="product-background" />
        <img loading="lazy" src="https://cdn.builder.io/api/v1/image/assets/TEMP/c4b6c9d90da2576584f687a3362256363331d1493ab87bf72bd32b0b3c1d6bba?placeholderIfAbsent=true&apiKey=637d52b7836245638b3cb5f84c1adefc" alt="Lyle & Scott Men's Short Sleeve Camo Pocket shirt" class="product-image" />
        <div class="product-title">Lyle & Scott Men's Short Sleeve Camo Pocket</div>
        <div class="product-price">US$76</div>
      </div>
    </div>
  </div>
</div>
