<form
    class="flex gap-5 justify-between self-center px-5 py-3 mt-8 w-full text-sm font-extralight text-black rounded-xl bg-neutral-300 max-w-[339px]"
    role="search"
  >
<div class="search-container" role="search">
    <div class="search-bar">
      <label for="searchInput" class="visually-hidden">Search</label>
      <div class="search-text" id="searchInput" tabindex="0" role="searchbox">
        Search
      </div>
      <img
        loading="lazy"
        src="https://cdn.builder.io/api/v1/image/assets/TEMP/b8156fb96251bf8b771aa408b4f2a811a295131e749fc68c4649edf12e7a53f3?placeholderIfAbsent=true&apiKey=637d52b7836245638b3cb5f84c1adefc"
        class="search-icon"
        alt=""
      />
    </div>
    <div class="filter-wrapper">
      <div class="dropdown-container">
        <div
          class="dropdown-content"
          tabindex="0"
          role="button"
          aria-haspopup="true"
        >
          <div>Popular Now</div>
          <img
            loading="lazy"
            src="https://cdn.builder.io/api/v1/image/assets/TEMP/fff608c5a82880d13031a3aff2ca99583eaaf82e25f417f3269da32005fdb720?placeholderIfAbsent=true&apiKey=637d52b7836245638b3cb5f84c1adefc"
            class="dropdown-arrow"
            alt=""
          />
        </div>
      </div>
      <img
        loading="lazy"
        src="https://cdn.builder.io/api/v1/image/assets/TEMP/0aa11f475c7160528331d71d262c4d2ca82145d643047255816a07d23c3f9208?placeholderIfAbsent=true&apiKey=637d52b7836245638b3cb5f84c1adefc"
        class="filter-icon"
        alt="Filter options"
      />
    </div>
  </div>
</form>