<div class="product-container">
  <div class="product-details">
    <img
      loading="lazy"
      src="{{product.image}}"
      class="product-image"
      alt="{{product.name}}"
    />
    <div class="product-info">
      <div class="product-title">
        {{product.name}}
      </div>
      <div class="product-brand">Brand: {{product.brand}}</div>
      <div class="product-price">${{product.price}}</div>
    </div>
  </div>
  <div class="action-buttons">
    <div class="remove-button" tabindex="0" role="button" routerLink="/products/{{product._id}}">
      <div>Details</div>
    </div>
    <div class="remove-button" tabindex="0" role="button" (click)="removeProduct()">
      <img
        loading="lazy"
        src="https://cdn.builder.io/api/v1/image/assets/TEMP/9a3d6d423c554e21a3f86a40439cd28af98e14633637cea34117815815cb3709?placeholderIfAbsent=true&apiKey=637d52b7836245638b3cb5f84c1adefc"
        class="remove-icon"
        alt=""
      />
      <div>Remove Product</div>
    </div>
  </div>
</div>
