<div class="sidebar">
    <div class="sidebar-header">
      <h2>ShopShere</h2>
    </div>
    <ul class="nav-list">
      <li><a routerLink="/">Home</a></li>
      <li><a routerLink="/about">About</a></li>
      <ng-container *ngIf="userService.getUser()">
      <li><a routerLink="/products/create">Add product</a></li>
      <li (click)="logout()"><a>Logout</a></li>
      </ng-container>
      <ng-container *ngIf="!userService.getUser()">
      <li><a routerLink="/register">Register</a></li>
      <li><a routerLink="/login">Login</a></li>
      </ng-container>
    </ul>
  </div>